:root,
:root.light {
  --light: #4f4544;
  --dark: #f7c7d0cf;
  --complement: #22FCC1;
  --card-color: #e27a7afa;
  --danger-color: rgb(158, 12, 12);
  --tooltip-color: #cfcf51;
  --article-color: rgb(128 60 178 / 32%);

}


:root.dark {
  --light: #fb7f50;
  --dark: #484841;
  --complement: #22FCC1;
  --card-color: #622837;
  --danger-color: rgb(158, 12, 12);
  --tooltip-color: #32322a;
  --article-color: rgb(128 60 178 / 32%);
}